.main {
  background-color: #d6e9fc;
  height: 100vh;

  .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
}
