.main {
  display: flex;
  margin-left: 13%;
  align-items: center;
}

.master {
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: #050300;
  border-radius: 12px;
}

.container {
  height: 93vh;
  width: 80vw;
  background-color: #7289da9d;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid #7289da;
  display: flex;
}
