.inventory-table-container {
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1890ff;
    font-weight: bold;
  }

  .ant-table {
    box-shadow: #1b3d50 0px 0px 10px 0px;
    border-radius: 8px;

    .ant-table-thead > tr > th {
      background-color: #b0e0e6;
      font-weight: bold;
      text-transform: uppercase;
    }

    .ant-table-row:hover {
      background-color: #f6faff;
    }
  }
}
