.teams-page {
    .team-card {
        .ant-card-meta-avatar {
            margin-right: 16px;
        }

        .ant-card-meta-title {
            font-size: 18px;
            font-weight: bold;
        }
    }
}