.chat {
  flex: 2;
  border-left: 1px solid #2f3a4f;
  border-right: 1px solid #2f3a4f;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat .top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3a4f;
}

.chat .top .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat .top .user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .icons img,
.chat .bottom .icons img,
.chat .bottom .emoji img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
}

.center {
  padding: 20px;
  flex: 1;
}

.chat .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #2f3a4f;
  gap: 20px;
  margin-top: auto;
}

.chat .bottom input {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.chat .bottom .emoji {
  position: relative;
}

.chat .bottom .emoji .picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.chat .bottom .sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
