.homepage {
  padding: 20px;
  background: #d6e9fc;
  height: 100vh;

  .status-cards {
    margin-bottom: 20px;

    .status-card {
      text-align: center;
      border: none;
      border-radius: 8px;
      color: white;

      h3 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 1rem;
      }
    }

    .purple {
      background-color: #ccccff;
    }

    .green {
      background-color: #b8dda2;
    }

    .yellow {
      background-color: #f8e182;
    }

    .red {
      background-color: #ff746c;
    }
  }
}
